<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meidalibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".SelectMediaActivity" />
        <activity android:name=".SingleClickActivity" />
    </application>

</manifest>